:root{
   --primary: #6200ea;
  --success: #33691e;
  --danger: #f50057;
  --warning:#ffab00;
}
body{
  padding-top: 5rem;
}
.actions{
  opacity: 0;
}
.actions:hover{
  opacity: 1;
  
}
tbody td a{
  color: #000;
}
tbody td a:hover{
  color: #000;
}